{% extends 'tasks/home.html' %}
{% block content %}
<div class='form-field'>
    <form method="POST">
    {% csrf_token %}
    <fieldset class='fieldset'>
        <legend>Reset Password</legend>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password:</label><br>
            {{ form.new_password1 }}
        </div>
        <br>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}"> Verify Password:</label><br>
            {{ form.new_password2 }}
        </div>
        {% if form.errors %}
            <div class='message'>{{form.new_password2.errors}}</div>
        {% endif %}
        <button type="submit" class='submit'>Reset</button>
    </fieldset>
    <form>
</div>
{% endblock content %}