{% extends 'tasks/home.html' %}
{% block content %}
<div class='form-field'>
    {% if user.is_authenticated %}
    <div class="message-success">You should Log Out Before</div>
    {% else %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class='fieldset'>
            <legend>Reset Password</legend>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label><br>
                {{ form.email }}
            </div>
            <br>
            {% if form.errors %}
            <div class='message'>Please enter valid email</div>
            {% endif %}
            <button type="submit" class='submit'>Reset</button>
        </fieldset>
        <form>
            {%endif%}
</div>
{% endblock content %}